* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    border-color: #6096ba;
}
div.main-container {
    width: 100%;
    height: 100%;
    background-color: #6c757d;
    margin: 0;
}
div.img-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
div.img-container img {
    border: 2px solid black;
    border-radius: 16%;
}
div.basic-info {
    display: flex;
    justify-content: center;
}
tr, td {
    margin:0px;
    padding: 0.1rem;
    border: 1px solid black;
}
table{
    margin: 0px;
    padding: 0.1rem;
    border: 1px solid black;
    border-radius: 10%;
}
div.first-paragraph, div.second-paragraph, div.discovery-1, div.discovery-2, div.discovery-3, div.refs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
p.paragraph-one, p.paragraph-two, p {
    margin-top: 1rem;
    width: 70%;
    text-align: center;
}
img {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
a {
    text-decoration: none;
    color: black;
}
/* yup color choices are intentional and totally not laziness*/
